<div class="containers_vn panel panel-default">
    <table class="styled-table">
        <thead> 
            <tr> 
                <th>Numero</th> 
                <th>Nombre</th>
                <th>Bool</th>
                <th>Byte</th>
                <th>Decimales</th>
                <th>Decimales Float</th>
                <th>Decimales Double</th>
                <th>Fecha</th>
            </tr> 
        </thead> 
        <tbody>
            @if (Model != null && Model!.ListarHTML != null)
            {
                foreach (var Elemento in Model!.ListarHTML)
                {
                    <tr>
                        <td>@Elemento.Numero</td>
                        <td>@Elemento.Nombre</td>
                        <td>@Elemento.Activo</td>
                        <td>@Elemento.Byte</td>
                        <td>@Elemento.Decimales</td>
                        <td>@Elemento.Decimales Float</td>
                        <td>@Elemento.Decimales Double</td>
                        <td>@Elemento.Fecha</td>
                        <td>
                            <input type="submit"
                                   value="Modicar"
                                   asp-page-handler="BtModificar"
                                   class="btn btn-secondary"
                                   asp-route-data="@Elemento.Numero" />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrarVal"
                                   class="btn btn-secondary"
                                   asp-route-data="@Elemento.Numero" />
                        </td>
                    </tr>
                }
            }
        </tbody> 
    </table>
</div>